# Python - Data Types and Structures: Assignment 2


#Theoretical Questions

*Question* 1: What are data structures, and why are they important?

  - In Python, data structures are the special ways of storing and organizing data so that it can be used easily and efficiently. They help to arrange data in a proper format which makes it simple to access, modify and manage. Python provides several built-in data structures such as lists, tuples, sets, and dictionaries, each designed for different purposes.


     Importance of data structures:

    >They allow data to be stored in a systematic way.

    >They make searching, updating, and deleting data easier.

    >They help in solving real-world problems like handling student records, bank transactions, or inventory systems.

    >They improve program efficiency and performance.

    >They make the code more organized and readable.

In [ ]:
# Question 2: Explain the difference between mutable and immutable data types with examples

"""
In Python, data types are classified as mutable and immutable based on whether their values can be changed after creation.
Mutable data types can be modified without creating a new object, while immutable data types cannot be changed once created, and any modification creates a new object.
For example: Lists, sets, and dictionaries are mutable, while strings, tuples, and numbers are immutable.
"""
#Examples:
  #Mutable Data Types:- Values can be changed after creation.
  #Example: List

my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  #output: [10, 2, 3]

#Immutable Data Types: Values cannot be changed once created.
  #Example: Tuple

my_tuple = (1, 2, 3)
my_tuple[0] = 10   # This will give an error
print(my_tuple)     # Output: (1, 2, 3)

[10, 2, 3]

TypeError: 'tuple' object does not support item assignment

*Question* 3: What are the main differences between lists and tuples in Python?

- Lists and tuples are both used to store collections of items in Python, but they differ mainly in mutability.
A list is mutable, meaning its elements can be changed, added, or removed. A tuple is immutable, which means once it is created, its elements cannot be changed.


  Lists are defined using square brackets [] and tuples defined using parentheses ()

  Lists are used when data needs to be modified and tuples are used when data should remain constant

  Example:

  list = [1,2,3,4]
  
  tuple = (1,2,3,4)

In [ ]:
# Question 4: Describe how dictionaries store data?

"""
A dictionary in python is a built-in data structure that stores data in the form of key-value pairs.
Each key acts as a unique identifier, and the value is the data associated with that key.
This makes dictionaries very useful for quick lookups and mapping relationships between items.

Dictionaries Store Data as:

>Data is stored as key: value pairs.
>Keys must be unique and immutable (like strings, numbers, or tuples).
>Values can be of any data type (numbers, strings, lists, etc.).
>Dictionaries are mutable, so values can be changed, added, or removed.
"""
#Example:
student = {"name": "Rahul", "age": 20, "course": "Python"}
print(student["name"])   # Output: Rahul

Rahul

*Question* 5: Why might you use a set instead of a list in Python?

  - A set in python is a collection data type that stores unique elements without maintaining any order.
While both sets and lists can store multiple items, sets are more useful when you want to avoid duplicates and perform mathematical operations like union, intersection, or difference.

- Reasons to Use a Set Instead of a List (Points):

>No Duplicates: Automatically removes duplicate elements.

>Fast Operations: Provides faster membership testing (checking if an item exists).

>Mathematical Use: Supports union, intersection, and difference operations.

>Data Integrity: Useful when uniqueness of data is important.

*Question* 6:  What is a string in Python, and how is it different from a list?

-  In Python, a string is a sequence of characters enclosed within single quotes, double quotes, or triple quotes. Strings are used to represent text data, like words, sentences, or symbols. A list, on the other hand, is a collection of items that can store different data types and can be modified.

- Example:

  str = "hello"

  list = [1, "hello", 3.5]

*Question* 7:  How do tuples ensure data integrity in Python?

- Tuples in python are immutable, which means their elements cannot be changed once they are created. Because of this immutability, tuples protect the data from accidental modifications, making them reliable for storing fixed collections of items. This property ensures data integrity, especially when data should remain constant throughout the program.

*Question* 8:  What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that stores data in key-value pairs using a technique called hashing. Hashing converts a key into an index, which helps in storing and quickly retrieving values. In Python, the dictionary is implemented internally using a hash table, which is why dictionary lookups are very fast.

- Relation to Dictionaries:-

  >Dictionary = Hash Table: Python dictionaries are built on hash table concepts.

  >Fast Access: Keys are converted into hash values, which point to the memory location of the value.

  >Unique Keys: Just like hash tables, dictionary keys must be unique.

  >Efficiency: Provides average-case O(1) time complexity for searching, inserting, and deleting.

  >Flexibility: Allows storing different types of data as values.

*Question* 9:  Can lists contain different data types in Python?

- Yes, in python a list can contain elements of different data types. Unlike some programming languages that restrict lists to a single type, Python lists are flexible and can store integers, floats, strings, booleans, or even other lists together in the same list.

*Question* 10: Explain why strings are immutable in Python.

- Strings in python are immutable, which means once a string is created, its content cannot be changed. If we try to modify a string, Python actually creates a new string object instead of altering the original one. This design choice ensures data safety and consistency because the original string remains unchanged. It also allows Python to store and reuse the same string object in memory, which improves efficiency. Another important reason is that immutable strings can be used as keys in dictionaries or stored in sets, since their values cannot change unexpectedly.

*Question* 11: What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries in python provide a major advantage over lists when data needs to be stored and accessed using a unique identifier rather than just an index. Unlike lists, which require searching through elements sequentially, dictionaries allow direct access to values through keys, making lookups much faster. They are also better suited for tasks where each piece of data has a specific label or property, such as storing student details with their roll number, product details with an ID, or any kind of key-value mapping. This structure makes dictionaries more efficient, organized, and convenient for handling real-world data compared to lists.

In [2]:
#Question 12: Describe a scenario where using a tuple would be preferable over a list.

"""
Suppose a student wants to store their date of birth in a program.
Since the date of birth never changes, it is better to use a tuple instead of a list.
By using a tuple, the values like day, month, and year remain fixed and cannot be modified by mistake.
This ensures that important information stays safe throughout the program.
"""
#Example:
dob = (15, "August", 2002)
print("Date of Birth:", dob)

# Trying to change the year will cause an error
# dob[2] = 2003   # Not allowed as tuples are immutable

Date of Birth: (15, 'August', 2002)

*Question* 13: How do sets handle duplicate values in Python?

- In python, sets automatically remove duplicate values and store only unique elements. If the same value is added multiple times, the set keeps only one copy of it. This behavior makes sets very useful when we need to ensure uniqueness in a collection, like storing distinct items from a list or removing repeated entries. For example, if a set contains {1, 2, 2, 3, 3, 3, 4}, the duplicates are automatically removed, and the set only keeps {1, 2, 3, 4}

In [3]:
# Question 14: How does the “in” keyword work differently for lists and dictionaries?

"""
In python, the in keyword is used to check if an element exists in a collection, but it works differently for lists and dictionaries.
For a list, in checks whether a specific value is present anywhere in the list.
For a dictionary, in only checks if the specified key exists, not the value.
This is important because searching for a value in a dictionary requires extra steps, whereas for lists the in keyword directly checks all elements.
"""
# Example:
# Using 'in' with a list
my_list = [1, 2, 3]
print(2 in my_list)   # Output: True
print(5 in my_list)   # Output: False

# Using 'in' with a dictionary
my_dict = {"a": 1, "b": 2}
print("a" in my_dict)  # Output: True (checks keys)
print(1 in my_dict)    # Output: False (does not check values)

True
False
True
False

In [21]:
# Question 15: Can you modify the elements of a tuple? Explain why or why not

"""
No, you cannot modify the elements of a tuple in python because tuples are immutable.
Once a tuple is created, its elements cannot be changed, added, or removed.
This immutability ensures that the data stored in a tuple remains constant and safe from accidental modifications.
If you try to change an element, Python will raise an error.
For example, if you have a tuple t = (1, 2, 3) and try to assign t[0] = 10, it will result in a TypeError.
This property makes tuples useful for storing fixed collections of data, like coordinates, dates, or constant settings.
"""

# Example:

t = (1, 2, 3)
#t[0] = 10   # This will cause an error
print(t)       # Output: (1, 2, 3)

(1, 2, 3)

In [20]:
# Question 16:  What is a nested dictionary, and give an example of its use case?

"""
A nested dictionary in python is a dictionary that contains another dictionary as its value for one or more keys.
This allows us to store complex, hierarchical data in a structured way.
Nested dictionaries are useful when we need to represent real-world data with multiple levels, such as student information with details like marks, address, or contact numbers.
For example, a nested dictionary can store multiple students with their individual details in a single structure.
"""

# Example:
students = {
    "student1": {"name": "Rahul", "age": 20, "marks": 85},
    "student2": {"name": "Aman", "age": 21, "marks": 90}
}

print(students["student1"]["name"])  # Output: Rahul
print(students["student2"]["marks"]) # Output: 90

Rahul
90

*Question* 17:  Describe the time complexity of accessing elements in a dictionary

- In python, dictionaries use hash tables, so finding a value by its key is very fast. Usually, it takes constant time (O(1)), which means it doesn’t matter how big the dictionary is. This is much faster than searching in a list, where you might have to check each item.

*Question* 18:  In what situations are lists preferred over dictionaries?

- Lists are preferred over dictionaries when we need to store a collection of items in a specific order and don’t need to use keys to access them. They are useful for tasks like keeping a sequence of numbers, names, or any data that will be processed in order. Lists are also simpler to use when we just need to loop through elements or perform operations like sorting.

In [22]:
# Question 19:  Why are dictionaries considered unordered, and how does that affect data retrieval?

"""Dictionaries in python are considered unordered because the items are stored based on their keys’ hash values rather than the order in which they were added.
This means that when you look at a dictionary, the items may not appear in the same sequence you inserted them.
However, this does not affect data retrieval, because you can still access any value directly using its key.
For example, student["name"] will always give the correct value regardless of the order of items in the dictionary."""

# Example:
student = {"name": "Rahul", "age": 20, "marks": 85}
print(student["marks"])  # Output: 85

85

In [23]:
# Question 20:  Explain the difference between a list and a dictionary in terms of data retrieval.

"""
The main difference between a list and a dictionary in python is how data is retrieved.
In a list, you access items using their index, which may require checking each item if you are searching by value.
In a dictionary, you access items directly using keys, which allows much faster retrieval.
This makes dictionaries more efficient when you need to look up values based on unique identifiers, while lists are better when you want to access items in a specific order.
"""

#Example:
# Using a list
marks = [85, 90, 78]
print(marks[1])  # Output: 90

# Using a dictionary
student = {"name": "Rahul", "age": 20}
print(student["age"])  # Output: 20

90
20

#  Practical Questions

In [35]:
# Question 1:  Write a code to create a string with your name and print it

name = "Raushan"
print(name)

Raushan

In [36]:
# Question 2: Write a code to find the length of the string "Hello World"

str = "Hello World"
len(str)

11

In [37]:
# Question 3:  Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
text[:3]

'Pyt'

In [55]:
# Question 4: Write a code to convert the string "hello" to uppercase

str = "hello"
str.upper()

'HELLO'

In [45]:
# Question 5: Write a code to replace the word "apple" with "orange" in the string "I like apple"

# Original string
a = "I like apple"
# Replacing "apple" with "orange"
b = a.replace("apple","orange")
print(b)

I like orange

In [46]:
# Question 6: Write a code to create a list with numbers 1 to 5 and print it

list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [47]:
# Question 7: Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [49]:
# Question 8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [51]:
# Question 9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a','b','c','d']
list[1]

'b'

In [56]:
# Question 10: Write a code to reverse the list [10, 20, 30, 40, 50]

list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [57]:
# Question 11: Write a code to create a tuple with the elements 100, 200, 300 and print it

tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [62]:
# Question 12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tuple = ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

In [64]:
# Question 13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).

# Tuple of numbers
tuple = (10, 20, 5, 15)
# Finding the minimum number
min_number = min(tuple)
print(min_number)

5

In [69]:
# Question 14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

# Tuple of animals
animals = ('dog', 'cat', 'rabbit')
# Finding the index of "cat"
index_cat = animals.index('cat')
print(index_cat)            #Output will be 1

1

In [71]:
# Question 15:  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

# Below are two different ways:
tuple = ("apple", "banana", "orange")
if "kiwi" in tuple:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")  # Output will be kkiwi is not in the tuple

# Or

fruits = ("mango","guava","pineapple")
print("kiwi" in fruits)

kiwi is not in the tuple
False

In [147]:
# Question 16: Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a','b','c'}
print(my_set)

{'a', 'b', 'c'}

In [129]:
# Question 17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

B = {1,2,3,4,5}
B.clear()
print(B)

set()

In [130]:
# Question 18: Write a code to remove the element 4 from the set {1, 2, 3, 4}.

C = {1, 2, 3, 4}
C.remove(4)
print(C)

{1, 2, 3}

In [134]:
# Question 19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

D = {1, 2, 3}
G = {3, 4, 5}
union_set = D.union(G)
print(union_set)

{1, 2, 3, 4, 5}

In [137]:
# Question 20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

H = {1, 2, 3}
I = {2, 3, 4}
intersection_set = H.intersection(I)
print(intersection_set)

{2, 3}

In [84]:
# Question 21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it

dictionary = {"name": "Raushan", "age": 20, "city": "Patna"}
print(dictionary)

{'name': 'Raushan', 'age': 20, 'city': 'Patna'}

In [89]:
# Question 22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

dictionary = {'name': 'John', 'age': 25}
dictionary.update({"country":"USA"})
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [92]:
# Question 23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dictionary = {'name': 'Alice', 'age': 30}
dictionary["name"]

'Alice'

In [94]:
# Question 24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary.pop("age")
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

In [99]:
# Question 25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

# Two ways:
dictionary = {'name': 'Alice', 'city': 'Paris'}
if "city" in dictionary:
  print("city exists in the dictionary")
else:
  print("city does not exist in the dictionary")

#Or

dictionary = {'name':'Alice', 'city':'Paris'}
print("city" in dictionary)

city exists in the dictionary
True

In [107]:
# Question 26: Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1,2,3]
my_tuple = (4,5,6)
my_dictionary = {"name":"Raushan", "age":22}
print("List:",my_list)
print("Tuple:",my_tuple)
print("Dictionary:",my_dictionary)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Raushan', 'age': 22}

In [110]:
# Question 27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# List of 5 random numbers
numbers = []
for i in range(5):
    numbers.append(random.randint(1, 100))

# Sorting the list
numbers.sort()

# Printing the list
print(numbers)

[26, 33, 64, 68, 81]

In [114]:
# Question 28: Write a code to create a list with strings and print the element at the third index.

list = ["pwskills","Raushan","Data","King"]
print(list[3])

King

In [115]:
# Question 29: Write a code to combine two dictionaries into one and print the result

# Two dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

# Combining dictionaries
combined_dict = {**dict1, **dict2}

# Printing the result
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [151]:
# Question 30: Write a code to convert a list of strings into a set

# List of strings
players_list = ["Virat", "Hardik", "Rohit", "Dhoni"]

# Converting list to set
unique_players = set(players_list)

print(unique_players)

{'Virat', 'Rohit', 'Dhoni', 'Hardik'}